<main class="page-section" #about>
  <h2 class="page-section__title">aboutMe</h2>
  <p class="page-section__element text" tabindex="0">
    I'm Software Developer on web-mobile-embedded, I'm tech-savvy, self-improving and open to learning. I can be keep calm when I encounter with difficult situtations, instead of creating problems I find solutions. I am eager, unselfish and I think that I am honest. The time is important for me
  </p>
  <img
    class="page-section__element photo"
    src="../../../assets/img-cv.png"
    alt="My photo"
    aria-label="My photo"
  />
</main>
