<header #start>

  <div class="author" tabindex="0">
    <h1 class="author__title author__title--name">Mustafa İşlek</h1>
    <h2 class="author__title author__title--dev">
      I'm <span class="author__title--color">Software Developer</span>
    </h2>
  </div>

  <div class="media">
    <a href="https://linkedin.com/in/mustafaislek/" class="media__link" target="_blank" aria-label="Open LinkedIn"
      rel="noopener" tabindex="0"><i class="fab fa-linkedin media__icon" aria-hidden="true"></i></a>
    <a href="https://github.com/mustafaislek/" class="media__link" target="_blank" aria-label="Open GitHub"
      rel="noopener" tabindex="0"><i class="fab fa-github-square media__icon" aria-hidden="true"></i></a>

  </div>
</header>

<div class="view">
  <div class="plane main">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>
