@import "../../../scss/variables";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .logo {
    position: absolute;
    z-index: 5;
    right: 2vw;
    width: 15vh;
    max-width: 200px;
  }

  .author {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25%;
    z-index: 5;

    &__title {
      margin: 10px 0;
      overflow: hidden;
      white-space: nowrap;

      &--name {
        font-size: 1.8em;
        animation: typingName 2s steps(40, end) both, blink-caret 0.5s step-end 4;
      }

      &--dev {
        width: 0;
        font-size: 1.4em;
        animation: typingDev 2s steps(40, end) both 2s,
          blink-caret 0.5s step-end infinite 2s;
      }

      &--color {
        color: $red;
        font-family: "Lato" bold, sans-serif;
      }
    }
  }

  .media {
    position: absolute;
    top: 45%;
    z-index: 5;

    &__link {
      margin: 0 15px;
      font-size: 25px;

      & i {
        visibility: hidden;
        color: transparent;
        transition: color 3s;
        animation: show-media 1s both 4s;
      }
    }
  } 
}

@keyframes typingName {
  0% {
    width: 0;
  }
  100% {
    width: 12ch;
  }
}
@keyframes typingDev {
  0% {
    width: 0;
  }
  100% {
    width: 23ch;
  }
}
@keyframes blink-caret {
  from {
    border-right: 5px solid transparent;
  }
  50% {
    border-right: 3px solid $red;
  }
}

@keyframes show-media {
  to {
    visibility: visible;
    color: $white;
  }
}

// animation created by wontem https://codepen.io/wontem and modified by me
.sphere-position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.view {
  @extend .sphere-position;

  top: 35%;
  overflow: hidden;
}

.plane {
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;

  &.main {
    @extend .sphere-position;

    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 20s infinite linear;

    .circle {
      width: 220px;
      height: 220px;
      position: absolute;
      transform-style: preserve-3d;
      border-radius: 100%;

      box-sizing: border-box;
      box-shadow: 0 0 60px rgba(crimson, 1), inset 0 0 60px rgba(crimson, 1);

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i / 5 * 360deg) rotateX(63.435deg);
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@media (orientation: landscape) {
  header {
    .author {
      top: 15%;
    }

    .logo {
      width: 15vw;
    }

    .media {
      top: 50%;
    }
  }

  .view {
    top: 20%;
  }

  .plane {
    height: 140px;
    width: 140px;

    &.main {
      .circle {
        width: 140px;
        height: 140px;
      }
    }
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  header {
    .author__title {
      &--name {
        font-size: 2.6em;
      }

      &--dev {
        font-size: 2em;
      }
    }

    .media {
      top: 40%;
    }
  }

  .plane {
    height: 400px;
    width: 400px;

    &.main {
      .circle {
        width: 400px;
        height: 400px;
      }
    }
  }

  @keyframes blink-caret {
    from {
      border-right: 5px solid transparent;
    }
    50% {
      border-right: 5px solid $red;
    }
  }
}

@media (min-width: 1024px) {
  header {
    .author {
      top: 25%;
      left: 15vw;
      align-items: flex-start;

      &__title {
        &--name {
          font-size: 3em;
        }

        &--dev {
          font-size: 2.2em;
        }
      }
    }

    .media {
      top: 45%;
      left: calc(15vw - 15px);
    }
  }

  .view {
    top: 5%;
    left: 30%;
  }

  .plane {
    height: 400px;
    width: 400px;

    &.main {
      .circle {
        width: 400px;
        height: 400px;
      }
    }
  }

  @keyframes blink-caret {
    from {
      border-right: 5px solid transparent;
    }
    50% {
      border-right: 5px solid $red;
    }
  }
}

@media (min-width: 1280px) {
  header {
    .author {
      &__title {
        &--name {
          font-size: 3.4em;
        }

        &--dev {
          font-size: 2.4em;
        }
      }
    }
  }

  .view {
    top: 0;
    left: 25%;
  }

  .plane {
    height: 600px;
    width: 600px;

    &.main {
      .circle {
        width: 600px;
        height: 600px;
      }
    }
  }
}
