<footer>


  <strong class="author">Made with  <i class="fa fa-heartbeat" aria-hidden="true"></i>
     by Mustafa Islek</strong>


  <div class="media">
    <a
      href="https://linkedin.com/in/mustafaislek/"
      class="media__link"
      target="_blank"
      aria-label="Open LinkedIn"
      rel="noopener"
      ><i class="fab fa-linkedin media__icon" aria-hidden="true"></i
    ></a>
    <a
      href="https://github.com/mustafaislek/"
      class="media__link"
      target="_blank"
      aria-label="Open GitHub"
      rel="noopener"
      ><i class="fab fa-github-square media__icon" aria-hidden="true"></i
    ></a>

  </div>

  <small class="copyright">Copyright &copy; {{ year }} </small>
</footer>
